@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

li {
    position: relative;
}

a {
    cursor: pointer;
}

#navlink a:hover {
    color: rgb(83, 83, 247);
}

#navlink a::after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    color: rgb(83, 83, 247);
    transition: width .3s ease-out;
}

#navlink a:hover::after {
    width: 100%;
    left: 0;
    background: rgb(83, 83, 247);
}

@layer components {
    .activeLink {
        color: rgb(83, 83, 247);
        border-bottom: 2px solid rgb(83, 83, 247);
        padding-bottom: 6px;
        
        transition: all ease .3s;
    }
}